<footer class="footter">
    <div class="grid">
        <div class="grid__row grid__row-990">
            <div class="grid__column-2-3">
                <h2 class="footter__header">
                    Thông Tin Sinh Viên
                </h2>
                <ul class="footter__list">
                    <li class="footter__list-item">
                        Lương Công Nhã Quân
                    </li>
                    <li class="footter__list-item">
                        MSSV: 2001216077
                    </li>
                    <li class="footter__list-item">
                        Lớp: 12DHTH10
                    </li>
                    <li class="footter__list-item">
                        SDT: 0973711952
                    </li>
                    <li class="footter__list-item">
                        Gmail: quannha916@gmail.com
                    </li>
                    <li class="footter__list-item">
                        Tên Đồ Án : Thiết Kế Web Bán Nước Hoa
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-3 grid__column-2-3-none">
                <h2 class="footter__header">
                    Dịch Vụ Cửa Hàng
                </h2>
                <ul class="footter__list">
                    <li class="footter__list-item">
                        <a href="" class="footter__list-item-link">Chính sách giao hàng</a>
                    </li>
                    <li class="footter__list-item">
                        <a href="" class="footter__list-item-link">Chính sách đổi sản phẩm</a>
                    </li>
                    <li class="footter__list-item">
                        <a href="" class="footter__list-item-link">Chính sách bảo hành</a>
                    </li>
                    <li class="footter__list-item">
                        <a href="" class="footter__list-item-link">Hướng dẫn mua hàng - Thanh toán</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-3 grid__column-2-3-none">
                <h2 class="footter__header">
                    Dịch Vụ & Hỗ Trợ
                </h2>
                <ul class="footter__list">
                    <li class="footter__list-item">
                        <a href="" class="footter__list-item-link">Giới thiệu về công ty</a>
                    </li>
                    <li class="footter__list-item">
                        <a href="" class="footter__list-item-link">Tuyển dụng</a>
                    </li>
                    <li class="footter__list-item">
                        <a href="" class="footter__list-item-link">Tư vấn</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-3">
                <h2 class="footter__header">
                    Thông tin mạng xã hội
                </h2>
                <ul class="footter__list">
                    <div class="footter__list-item-icon">
                    <li class="footter__list-item">
                        <a href="https://www.facebook.com/quan.luong.5817300" class="footter__list-item-link">
                            <i class="footter__list-item-link-icon fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="footter__list-item">
                        <a href="https://www.instagram.com/vuan49/" class="footter__list-item-link">
                            <i class="footter__list-item-link-icon fa-brands fa-instagram"></i>
                        </a>
                    </li>
            </div>
            </ul>
        </div>
    </div>
    <div class="grid__column-2-990">
        <div class="grid__column-2-3-990">
            <h2 class="footter__header">
                Dịch vụ Cửa Hàng
            </h2>
            <ul class="footter__list">
                <li class="footter__list-item">
                    <a href="" class="footter__list-item-link">Chính sách giao hàng</a>
                </li>
                <li class="footter__list-item">
                    <a href="" class="footter__list-item-link">Chính sách đổi sản phẩm</a>
                </li>
                <li class="footter__list-item">
                    <a href="" class="footter__list-item-link">Chính sách bảo hành</a>
                </li>
                <li class="footter__list-item">
                    <a href="" class="footter__list-item-link">Hướng dẫn mua hàng - Thanh toán</a>
                </li>
            </ul>
        </div>
        <div class="grid__column-2-3-990 grid__column-2-3-990-padding-left">
            <h2 class="footter__header">
                Dịch Vụ & Hỗ Trợ
            </h2>
            <ul class="footter__list">
                <li class="footter__list-item">
                    <a href="" class="footter__list-item-link">Giới thiệu về công ty</a>
                </li>
                <li class="footter__list-item">
                    <a href="" class="footter__list-item-link">Tuyển dụng</a>
                </li>
                <li class="footter__list-item">
                    <a href="" class="footter__list-item-link">Tư vấn</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="grid__column-12">

    </div>
    </div>
</footer>
