<div class="header__menu">
    <ul class="header__menu-list">
        <a href="./DOAN.html" class="header__menu-list-item-link">
        <li class="header__menu-list-item"><i class="menu-list-icon-bolt fa-sharp fa-solid fa-bolt fa-beat"></i> Flash Sale</li></a>

        <li class="header__menu-list-item">
            Nước Hoa Nam  <i class="header__menu-icon menu-list-icon fa-solid fa-angle-down"></i>
            <ul class="menu-list">
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Floral</a>
                </li>
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Woody</a>
                </li>
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Fruity</a>
                </li>
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Aquatic</a>
                </li>
            </ul>
        </li>



        <li class="header__menu-list-item">
            Nước Hoa Nữ  <i class="header__menu-icon menu-list-icon fa-solid fa-angle-down"></i>
            <ul class="menu-list">
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Floral</a>
                </li>
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Woody</a>
                </li>
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Fruity</a>
                </li>
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Aquatic</a>
                </li>
            </ul>
        </li>


        <li class="header__menu-list-item">
            Nước Hoa Mini  <i class="header__menu-icon menu-list-icon fa-solid fa-angle-down"></i>
            <ul class="menu-list">
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Floral</a>
                </li>
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Woody</a>
                </li>
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Fruity</a>
                </li>
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Aquatic</a>
                </li>
            </ul>
        </li>


        <li class="header__menu-list-item">
            Nước Hoa Unisex <i class="header__menu-icon menu-list-icon fa-solid fa-angle-down"></i>
            <ul class="menu-list">
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Floral</a>
                </li>
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Woody</a>
                </li>
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Fruity</a>
                </li>
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Aquatic</a>
                </li>
            </ul>
        </li>


        <li class="header__menu-list-item">
            Nước Hoa Chiết <i class="header__menu-icon menu-list-icon fa-solid fa-angle-down"></i>
            <ul class="menu-list">
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Floral</a>
                </li>
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Woody</a>
                </li>
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Fruity</a>
                </li>
                <li class="menu-list-item">
                    <a href="./DOAN.html">Nước Hoa Hương Aquatic</a>
                </li>
            </ul>
        </li>

        <a href="./DOAN.html" class="header__menu-list-item-link">
        <li class="header__menu-list-item none">Tất cả</li></a>
    </ul>
</div>
