<div class="header__menu">
    <ul class="header__menu-list">
        <a href="./DOAN.html" class="header__menu-list-item-link">
        <li class="header__menu-list-item"><i class="menu-list-icon-bolt fa-sharp fa-solid fa-bolt fa-beat"></i> Flash Sale</li></a>

        <li class="header__menu-list-item">
            <a href="~/Admin/Product/Product">Product</a>
        </li>
        <li class="header__menu-list-item">
            
        </li>


        <li class="header__menu-list-item">
           
        </li>


        <li class="header__menu-list-item">
            
        </li>


        <li class="header__menu-list-item">
           
        </li>
    </ul>
</div>
