
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<div class="small-container">
    <h2 class="title">Sản Phẩm Mới</h2>
    <div class="row">
        <div class="col-4">
            <a href="./detail.html" class="col-4-link">
                <img class="col-4-img" src="//product.hstatic.net/1000391653/product/026nuoc-hoa-mini-versace-eros-edt-5ml_a9b2a7c02b3f400b9ee883ea05a6d145_2708db0701b845b4b8bef13557224a75_large.jpg" alt="Nước Hoa Mini Versace Eros EDT 5ml">
                <h4 class="home__product-item-heading" style="padding-left: 0;">
                    NƯỚC HOA MINI
                </h4>
                <h4 class="col-4-heading">Nước Hoa Mini Versace Eros EDT 5ml</h4>
                <div class="col-4-star">
                </div>
                <p class="col-4-price">189,000₫</p>
            </a>
        </div>
        <div class="col-4">
            <a href="./detail.html" class="col-4-link">
                <img class="col-4-img" src="//product.hstatic.net/1000391653/product/4c4aa413e812f84c9d2dfdfbb_large_aa852fb5a8cb40698761ca25de4e7820_large_30f4544634da4e76a8011f58990b5512_large.jpg" alt="Nước Hoa Mini Versace Eros EDT 5ml">
                <h4 class="home__product-item-heading" style="padding-left: 0;">
                    NƯỚC HOA MINI
                </h4>
                <h4 class="col-4-heading">Nước Hoa Mini Versace Eros EDT 5ml</h4>
                <div class="col-4-star">
                </div>
                <p class="col-4-price">155,000₫</p>
            </a>
        </div>
        <div class="col-4">
            <a href="./detail.html" class="col-4-link">
                <img class="col-4-img" src="//product.hstatic.net/1000391653/product/-mini-versace-eros-pour-femme-edt-5ml_49f272d40f8b42c58eff1c76e0df4c50_5f0cd59969e1437994e939b920c9306f_large.jpg" alt="Nước Hoa Mini Versace Eros EDT 5ml">
                <h4 class="home__product-item-heading" style="padding-left: 0;">
                    NƯỚC HOA MINI
                </h4>
                <h4 class="col-4-heading">Nước Hoa Mini Versace Eros Pour Femme EDP 5ml</h4>
                <div class="col-4-star">
                </div>
                <p class="col-4-price">159,000₫</p>
            </a>
        </div>
        <div class="col-4">
            <a href="./detail.html" class="col-4-link">
                <img class="col-4-img" src="//product.hstatic.net/1000391653/product/3nuoc-hoa-mini-versace-pour-homme-5ml_cd36940aa6574959bce71715db04d01e_c0a7840889884869a4035fdfa27efe05_large.jpg" alt="Nước Hoa Mini Versace Eros EDT 5ml">
                <h4 class="home__product-item-heading" style="padding-left: 0;">
                    NƯỚC HOA MINI
                </h4>
                <h4 class="col-4-heading">Nước Hoa Mini Versace Pour Homme 5ml</h4>
                <div class="col-4-star">
                </div>
                <p class="col-4-price">149,000₫</p>
            </a>
        </div>
        <div class="col-4">
            <a href="./detail.html" class="col-4-link">
                <img class="col-4-img" src="//product.hstatic.net/1000391653/product/oc-hoa-mini-versace-crystal-noir-5ml-_8102610a322e4dab892e62b199585ddd_3eaab20d5e8f4e6bab7e895129125935_large.jpg" alt="Nước Hoa Mini Versace Eros EDT 5ml">
                <h4 class="home__product-item-heading" style="padding-left: 0;">
                    NƯỚC HOA MINI
                </h4>
                <h4 class="col-4-heading">Nước Hoa Mini Versace Crystal Noir 5ml</h4>
                <div class="col-4-star">
                </div>
                <p class="col-4-price">159,000₫ </p>
            </a>
        </div>
        <div class="col-4">
            <a href="./detail.html" class="col-4-link">
                <img class="col-4-img" src="//product.hstatic.net/1000391653/product/0nuoc-hoa-mini-versace-dylan-blue-5ml_64b5793542374ef992d5bd3893fc7f69_b79396c0fb2944a58b37c32fe98751b6_large.jpg" alt="Nước Hoa Mini Versace Eros EDT 5ml">
                <h4 class="home__product-item-heading" style="padding-left: 0;">
                    NƯỚC HOA MINI
                </h4>
                <h4 class="col-4-heading">Nước Hoa Mini Versace Dylan Blue 5ml</h4>
                <div class="col-4-star">
                </div>
                <p class="col-4-price">155,000₫</p>
            </a>
        </div>
    </div>
</div>

