@model IEnumerable<Perfume.Models.thuongHieu>
    @{
        var thuongHieus = (List<int>)ViewData["listThuongHieuChon"]; // Cast the list
    }
    <ul class="category-list">
        @foreach (var item in Model)
        {
            <li class="category-list-item">
                <a href="/Product/FilterProduct?name=TH&i=@item.id" style="display: flex; text-decoration: none;">
                    @{ int count = 0; }
                    @foreach (var i in thuongHieus)
                    {
                        if (i == @item.id)
                        {
                            <input type="checkbox" name="" id="" class="category-list-item-checkbox" checked onclick="handleOnclickCheckboxTh(@item.id)">
                            count++;
                            break;
                        }
                    }
                    @if (count == 0)
                    {
                        <input type="checkbox" name="" id="" class="category-list-item-checkbox" onclick="handleOnclickCheckboxTh(@item.id)">
                    }
                    <span class="category-list-item-info">@item.tenThuongHieu</span>
                </a>
            </li>
        }
        @*<li class="category-list-item">
                <input type="checkbox" name="" id="" class="category-list-item-checkbox">
                <span class="category-list-item-info">Nước Hoa Nam</span>
            </li>
            <li class="category-list-item">
                <input type="checkbox" name="" id="" class="category-list-item-checkbox">
                <span class="category-list-item-info">Nước Hoa Nữ</span>
            </li>
            <li class="category-list-item">
                <input type="checkbox" name="" id="" class="category-list-item-checkbox">
                <span class="category-list-item-info">Nước hoa Mini</span>
            </li>
            <li class="category-list-item">
                <input type="checkbox" name="" id="" class="category-list-item-checkbox">
                <span class="category-list-item-info">Nước Hoa Chiếc</span>
            </li>*@
    </ul>

    <script type="text/javascript">
        function handleOnclickCheckboxTh(id) {
            window.location.href = 'FilterProduct?name=TH&i=' + id;
        }
    </script>
